#home-open-animation {
    z-index: 2;
    border-radius: 100%;
    width: 1vh;
    height: 1vh;
    position: fixed;
    bottom: 0;
    left: 49.5%;
    background-color: #cd5f5b;
    transition: 1s all ease-in-out;
}

#home-open-animation-container {
    transition: 1s all ease-in-out;
}

#home {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: red;
    transition: 0.5s all;
    opacity: 0;
}