#info-menu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: 0.5s all;
    opacity: 0;

    display: none;
    flex-direction: column;
    align-items: center;
}

#info-container {
    width: 80vw;
    font-size: 5vw;
}

#info-exit-button {
    position: fixed;
    bottom: 2vh;
    width: 40vw;
    height: 7vh;
    border-radius: 20px;
    color: white;
    background-color: #72cca7;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    text-transform: uppercase;
}