main {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-list {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-list .task {
    width: 90%;
    height: 12vh;
    margin-bottom: 2vh;
    border-radius: 25px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

#completed-tasks > div {
    background-color: #72cca7;
}

#open-tasks > div {
    background-color: #cd5f5b;
}
