#login {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all;
    transition-delay: 0s;
    background-color: #cd5f5b;
    opacity: 1;
}

#login input {
    all:unset;
    background-color: white;
    width: 60%;
    height: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    font-size: 2vh;
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

#login #login-button {
    background-color: #72cca7;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    width: 60%;
    height: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius:10px;
    text-transform: uppercase;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login #signup-button {
    text-decoration: underline;
    color: white;
}

#login-placeholder {
    height: 40vh;
}

#login-errors {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-error {
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    color: #cd5f5b;
}

/*.login-error::before {*/
/*    content: "<i class="fas fa-exclamation-triangle"></i>";*/
/*}*/