#search-bar {
    width: 90vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar input {
    all:unset;
    width: 80vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #727272;font-family: myriad-pro, sans-serif;
    padding: 0 3vmin;

}

#home-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

#home-button {
    font-size: 3vh;
}