.task-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.task div {
    color: white;
}

.task .big-display {
    width: 35%;
    height: 100%;
    font-size: 10vh;
    margin-bottom: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.task .information {
    width: 65%;
}

.task .title {
    color: white;
    width: 80%;
    height: 33.333%;
    font-size: 6vw;
}

.task .date-time {
    width: 80%;
    height: 33.333%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.task .tags {
    width: 80%;
    height: 33.333%;

    display: flex;
    align-items: center;
    flex-direction: row;

    overflow-y: scroll;
    scrollbar-width: none;
    /*box-shadow: inset -30px 0px 39px -28px rgba(0,0,0,1);*/
}

.task .tag {
    background-color: rgba(255, 255, 255, 0.35);
    margin-right: 3px;
    padding: 1px;
    border-radius: 3px;
}

.task .search-task-placeholder {
    opacity: 0;
}